<footer>
  <div id="partners" class="partners">
    <div class="partners-container row">
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner1.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner2.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner7.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner4.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner5.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner6.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner3.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner8.png" alt="">
      </div>
      <div class="partner-image-container col">
        <img class="partner-image" src="../../../assets/images/partners/partner9.png" alt="">
      </div>
    </div>
  </div>
  
  <img src="../../../assets/images/cpof_logo_completo.png" alt="">
  <p class="address">Av. Dep. Emílio Carlos, 2224 - Limão, São Paulo - SP</p>
  <p id="contact">Telefone: 3925-1189</p>
  <p>Email: valmir.seles@caminhandofuturo.org.br</p>
</footer>