<div class="home-image-container col-12 col-md-12">
  <div id="description"></div>
  <img class="img-fluid home-image" src="../../../assets/images/first-image.jpeg">

  <h4 class="home-image-text">
    Transformando através da educação
  </h4>
</div>
<div class="description-container container">
  <div class="row gy-5">
    <div #description class="description col-12 col-md-6">
      <h1>Desde 1975 atuando na área da infância e adolescência</h1>
      <p>
        Sociedade Beneficente Caminhando Para o Futuro, inciou suas atividades no ano de 1975, no dia 11 de julho.
        A inciativa surgiu de movimentos de moradores de bairro do Jd. Carombé para abertura de um núcleo que tivesse
        a proposta de atender à crianças e adolescentes de famílias que residem na região e assim à famílias poderiam
        ficar mais tranquilas, pois seus filhos estariam em um local seguro
      </p>
    </div>
    <div class="col-12 col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.301667407179!2d-46.6816883779417!3d-23.47110020508349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef9c2f2f79117%3A0x9df7357e7e480b46!2sCaminhando%20para%20o%20Futuro!5e0!3m2!1spt-BR!2sbr!4v1667332120525!5m2!1spt-BR!2sbr"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div id="projects"></div>
    <app-big-card
      class="col-12 col-md-6"
      imageSrc="../../../assets/images/CEI_crianca.png"
      title="Centro de Educação Infantil"
      subtitle="Público Alvo: 0 a 4 anos e 11 meses"
      description="Um “espaço coletivo privilegiado de vivência da infância, que visa contribuir na construção da identidade social e cultural dos bebê e das crianças, fortalecendo o trabalho integrado do cuidar e do educar, numa ação complementar à da família e da comunidade, objetivando proporcionar condições adequadas para promover educação, proteção, segurança, alimentação, cultura, saúde e lazer, com vistas à inserção, prevenção, promoção e proteção à infância”, atende os princípios estabelecidos nas Diretrizes Curriculares Nacionais para a Educação Infantil"
      buttonLabel="Ver Unidades"
    ></app-big-card>
    <app-big-card
      class="col-12 col-md-6"
      imageSrc="../../../assets/images/CCA_crianca.png"
      title="Centro para Crianças e Adolescentes"
      subtitle="Público Alvo: 6 a 14 anos e 11 meses"
      description="Desenvolvemos atividades com crianças e adolescentes, tendo por foco a constituição de espaço de convivência a partir dos interesses, demandas e potencialidades. As intervenções devem ser pautadas em experiências lúdicas, culturais e esportivas como formas de expressão, interação, aprendizagem, sociabilidade e proteção social. Atendemos crianças e adolescentes em situação de risco e vulnerabilidade pessoal e social, priorizando famílias de baixa renda. Proporcionamos experiências favorecedoras no desenvolvimento de sociabilidades e prevenção de situações de risco social, como preconiza o Plano Nacional de Assistência Social"
      buttonLabel="Ver Unidades"
    ></app-big-card>
  </div>
</div>
<div id="nucleus"></div>
<div class="container nucleus-container">
  <div class="row">
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/CEI-brincando-tambem-se-aprende.png"
        title="CEI Brincando Também se Aprende"
        firstSubtitle="70 crianças atendidas"
        secondSubtitle="1 a 3 anos e 11 meses de idade"
        address="Rua dos Patis, 308 - Vila Nova Cachoeirinha"
        email="bta@caminhandofuturo.org.br"
        phoneNumber="(11) 3983-3867"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/CEI Tequinho do Céu.png"
        title="CEI Tequinho do Céu"
        firstSubtitle="147 crianças atendidas"
        secondSubtitle="0 a 3 anos e 11 meses de idade"
        address="Praça Jequié, 38 - Jardim Maracanã"
        email="tequinhodoceu@caminhandofuturo.org.br"
        phoneNumber="(11) 3984-9889"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/CEI PINGO DE GENTE.png"
        title="CEI Pingo de Gente"
        firstSubtitle="144 crianças atendidas"
        secondSubtitle="0 a 3 anos e 11 meses de idade"
        address="Rua Daniel Pereira, 238 - Parque Tiete"
        email="pingodegente@caminhandofururo.org.br "
        phoneNumber="(11) 2889-8297"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/CEI Girassol.png"
        title="CEI Girassol"
        firstSubtitle="53 crianças atendidas"
        secondSubtitle="2 a 3 anos"
        address="Rua Herman Rechter, 08 - Vila Penteado"
        email="girassol@caminhandofuturo.org.br"
        phoneNumber="11 3986-0516"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/CEI CONV PRIMEIROS PASSOS.png"
        title="CEI CONV PRIMEIROS PASSOS"
        firstSubtitle="113 crianças atendidas, sendo 41 de berçario"
        secondSubtitle="0 a 3 anos"
        address="Avenida Itaberaba, 3278 - Itaberaba"
        email="primeirospassos@caminhandofuturo.org.br"
        phoneNumber="11 2548-1449"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/SCFV CCA ARTE NA RUA.png"
        title="SCFV CCA ARTE NA RUA"
        firstSubtitle="120 crianças e adolescentes atendidas"
        secondSubtitle="6 a 14 anos e 11 meses de idade"
        address="Rua Eduardo Costa, 192 - Jardim Damasceno"
        email="artenarua@caminhandofuturo.org.br"
        phoneNumber="11 3921-9107"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/CCA Beija Flor.png"
        title="CCA Beija Flor"
        firstSubtitle="240 crianças e adolescentes atendidas"
        secondSubtitle="6 a 14 anos e 11 meses de idade"
        address="Rua Ubaldo Mendes de Oliveira, 150 - Jardim Carombé"
        email="beijaflor@caminhandofuturo.org.br"
        phoneNumber="11 3922-7188"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/SCFV CCA Caminhando para o Futuro.png"
        title="SCFV CCA Caminhando para o Futuro"
        firstSubtitle="180 crianças e adolescentes atendidas"
        secondSubtitle="6 a 14 anos e 11 meses de idade"
        address="Rua Cunhanrequaro, 93 - Jardim Peri"
        email="cpf@caminhandofuturo.org.br"
        phoneNumber="11 3984-2528"
      ></app-unit-card>
    </div>
    <div class="col">
      <app-unit-card
        imageSrc="../../../assets/images/SCFV CCA CANARINHO.png"
        title="SCFV CCA CANARINHO"
        firstSubtitle="180 crianças e adolescentes atendidas"
        secondSubtitle="6 a 14 anos e 11 meses de idade"
        address="Rua Raimundo Carneiro, 180 - Jardim Carumbé"
        email="canarinho@caminhandofuturo.org.br"
        phoneNumber="11 3925 8578"
      ></app-unit-card>
    </div>
  </div>
</div>
