
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Doações</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="row">
          <h2>PIX</h2>
          <img class="qrcode" src="../../../assets/images/pix-qrcode.png">
        </div>
      </div>
      <hr>
      <div class="col-12 col-md-12">
        <div class="row">
          <h2>Pix copia e cola:</h2>
          <h6 class="pixCopiaeColaValue" (click)="copyToClipboard(pixCopiaeColaValue)"> {{ pixCopiaeColaValue }} </h6>
          <button class="btn btn btn-outline-primary" (click)="copyToClipboard(pixCopiaeColaValue)">Copiar</button>
        </div>
      </div>
      <hr>
      <hr>

      <div class="col-12 col-md-12">
        <div class="row">
          <h2>Doar nota fiscal automaticamente</h2>
          <h5>Passo a passo para cadastro de doação automática:</h5>
          <ul class="passo-a-passo-doar-fiscal">
            <li>Entre em <a href="https://www.nfp.fazenda.sp.gov.br/login.aspx" target="_blank"><b>https://www.nfp.fazenda.sp.gov.br/login.aspx</b></a></li>
            <li>Informe CPF/CNPJ e senha para logar</li>
            <li>Continue até o menu principal</li>
            <li>Vá na aba "Entidades" e clique em "Doação de Cupons com CPF (automática)"</li>
            <li>Pesquise pelo CNPJ <b class="cnpj" (click)="copyToClipboard(pixCopiaeColaValue)">47.389.788/0003-03</b> e avance</li>
            <li>Confime a doação e esta pronto, muito obrigado(a)!</li>
          </ul>
          <br>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/RDKe9ODRt4E?start=21" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <hr>

      <div class="col-12 col-md-12">
        <div class="row">
          <h2>Transferência bancaria</h2>
          <p>Você também pode fazer uma transferência bancaria:</p>
          <p><b>Tipo de Conta:</b> Conta Corrente</p>
          <p><b>Agência:</b> 2221</p>
          <p><b>Conta:</b> 0005764-9</p>
          <p><b>Banco:</b> 237 - Bradesco</p>
        </div>
      </div>
      <hr>
      <div class="col-12 col-md-12">
        <div class="row">
          <h4>Contato</h4>
          <p>Caso precise de um comprovante, entre em contato:</p>
          <p><b>Email:</b> valmir.seles@caminhandofuturo.org.br</p>
          <p><b>Telefone:</b> 3925-1189</p>
        </div>
      </div>
    </div>
  </div>
</div>
