.navbar {
  background: linear-gradient(0deg, rgba(115, 61, 203, 0.65), rgba(115, 61, 203, 0.65)), url(../../../assets/images/header.jpeg);
  background-position: 0px -100px;
  background-size: cover;
  align-items: start;
  z-index: 5;
  object-position: center top
}

.header-image {
  width: 70%;
}

.nav {
  color: white !important;
  font-size: x-large !important;
  cursor: pointer;
  text-decoration: none;
}

.navbar-toggler {
  color: white !important;
  border-color: white;
}

.white-icon {
  color: white !important;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.navbar-brand {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header-image {
    width: 40%;
  }
  .nav {
    font-size: medium !important;
  }
}
